server:
  port: 8081
  shutdown: graceful

spring:
  application:
    name: order-service
  lifecycle:
    timeout-per-shutdown-phase: 20s

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/orderdb}
    username: ${DB_USER:order}
    password: ${DB_PASS:order}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: ${DB_SCHEMA:orders}
        format_sql: false
  flyway:
    default-schema: ${FLYWAY_SCHEMA:orders}
    schemas: ${FLYWAY_SCHEMA:orders}
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

app:
  clients:
   inventory:
     base-url: ${INVENTORY_BASE_URL:http://localhost:8080}
     connect-timeout-ms: 2000
     read-timeout-ms: 2000

